/* desktop */
@media(min-width: 768px) {
	.order.content {
		background: #ccc;
	}
	.clr0 {
		clear: both;
		float: none;
	}
	.section.order {
		clear: both;
		float: none;
		padding-top: 3%;
		padding-left: 3%;
		padding-right: 3%;
	}
	.section.order > .divider {
		float: left;
		width: 1.25%;
		background: transparent;
		height: 1px;
	}
	.section.order > .divider:nth-last-child(2) {
		display: none;
	}
	.order-product-category {
		width: auto;
		clear: both;
		float: none;
		margin: 0 0 1.25% 0;
		border: 1px solid white;
		color: white;
		padding: 1% 0;
	}
	.order-product-category .text {
		padding-left: 1%;
	}
	.order-product-block {
		width: 24%;
		float: left;
		background: #b3b3b3;
		background: -o-gradient(linear, 0 79.9%, 0 80%, from(#b3b3b3), to(transparent));
		background: -ms-gradient(linear, 0 79.9%, 0 80%, from(#b3b3b3), to(transparent));
		background: -moz-gradient(linear, 0 79.9%, 0 80%, from(#b3b3b3), to(transparent));
		background: -webkit-gradient(linear, 0 79.9%, 0 80%, from(#b3b3b3), to(transparent));
		
	}
	.order-product-block > .img {
		width: 50%;
		float: left;
		position: relative;
	}
	.order-product-block > .img .order-product.img {
		width: 100%;
		position: absolute;
    	bottom: 0;
    	margin: 0 0 -25% 5%;
	}
	.order-product-block > .detail {
		text-align: right;
		background-size: 52%;
		background-size: 46%;
		background-repeat: no-repeat;
		background-position: 1vw 1vw;
	}
	.order-product-block > .detail .detail-block {

	}
	.order-product-block > .detail .order-product-title {
		padding: 5% 5% 0 0;
		font-size: large;

	}
	.order-product-block > .detail .order-product-price {
		padding: 0 5% 0 0;
		font-size: x-small;
		margin-bottom: -2%;
	}
	.order-product-block > .detail .order-product-link {
		padding: 0 6% 0 0;
	}
	.order-product-block > .detail .order-product-link > .text {
		border: 1px solid #333;
		border-radius: 4px;
		padding: 1%;
	}
	.order-product-block > .detail .order-product-link > .text a.border-link {
		color: #333;
		font-size: smaller;
	}
	.order-product-block > .detail .order-product-action {
		padding: 3% 6% 3% 0;
		height: 7.5vw;
	}
	.order-product-action .count {
		display: inline-block;
	}
	.order-product-action .count-block {
		display: inline-block;
		width: 2.6vw;
		height: 2.6vw;
		background: #cc2a3c;
		text-align: center;
		color: white;
		border-radius: 4px;
		position: relative;
		top: -0.9vw;
	}
	.order-product-action .unit-block {
		color: white;
		position: relative;
		top: -0.3vw;
		font-weight: lighter;
	}
	.order-product-action .action-block {
		display: inline-block;
		width: 20%;
		position: relative;
		height: 5vw;
		width: 5vw;
	}
	.order-product-action .minus {
		width: 2vw;
		height: 2vw;
		border: 0;
		padding: 0;
		margin: 0;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_minus_normal.png');
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		position: absolute;
		 top: -0.5vh;
		left: -0.5vw;
	}
	.order-product-action .minus:hover {
		cursor: pointer;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_minus_hover.png');
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-action .plus {
		width: 5vw;
		height: 5vw;
		border: 0;
		padding: 0;
		margin: 0;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_plus_normal.png');
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-action .plus:hover {
		cursor: pointer;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_plus_hover.png');
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-action .value.count {
		display: inline-block;
		width: 100%;
		border: 0;
		padding: 0;
		height: 100%;
		margin: 0 auto;
		line-height: 2.6vw;
	}

	/* calc, next, action */
	.order > .calc {
		margin-top: 4vh;
		height: 13vh;
	}
	.order > .calc.top {
		margin-top: 0;
		padding-top: 4vh;
	}
	.section.order:nth-child(2) {
		padding-top: 1vh;
	}
	.calc .info {
		max-width: 60%;
		background: #333;
		color: white;
		width: auto;
		display: inline-block;
		padding: 1%;
		margin-left: 3%;
		margin-top: 0;
		margin-bottom: 0;
	}
	@keyframes info-flashing {
		from {
			background-color: red;
		}
		to {
			background-color: #333;
		}
	}
	.calc .info.flashing {
		animation-name: info-flashing;
		animation-duration: 2s;
	}
	.calc > .action {
		float: right;
		width: 35%;
	}
	.calc > .action > .box > .text, .calc > .action > .box .total-box, .calc > .action > .box .unit {
		color: #333;
	}
	.calc > .action > .box .total-box {
		border: 2px solid #333;
	}
	.calc > .action > .needed > .text, .calc > .action > .needed .total-needed, .calc > .action > .needed .unit {
		color: #cc2a3e;
	}
	.calc > .action > .needed.full > .text, .calc > .action > .needed.full .total-needed, .calc > .action > .needed.full .unit {
		color: green;
	}
	.calc > .action > .needed, .calc > .action > .box {
		margin-top: -0.5vw;
		width: 8vw;
		display: inline-block;
	}
	.calc > .action > .needed .text, .calc > .action > .box .text {
		width: 8vw;
	}
	.calc > .action > .needed .total-needed, .calc > .action > .box .total-box {
		display: inline-block;
		text-align: center;
		width: 5vw;
		height: 5vw;
		line-height: 5vw;
		font-size: 2.5vw;
	}
	.calc > .action > .needed .unit, .calc > .action > .box .unit {
		display: inline-block;
	}
	.calc > .action > .needed {
		width: 15vw;
	}
	.calc > .action > .needed .total-needed {
		border: 2px solid #cc2a3e;
		width: 11vw;
	}
	.calc > .action > .needed.full .total-needed {
		border-color: green;
	}
	.calc > .action > .action.next {
		display: inline-block;
		float: right;
		width: 29%;
	}
	.calc > .action > .action.next > button.action.next {
		color: white;
		background: #333;
		border: 0;
		border-radius: 6px;
		padding: 8.5%;
		font-size: 2vw;
		width: 7vw;
		height: 7vw;
		line-height: 2.5vw;
	}
	.calc > .action > .action.next.full > button.action.next {
		background: green;
	}
	.mobile-bottom-margin {
		display: none;
	}

	/* image cache */
	.img-cache {
		opacity: 0;
		width: 100%;
		height: 0;
		position: fixed;
		top: -500%;
	}
	.img-cache .w0 {
		width: 0.001px;
	}
	.img-cache .h0 {
		height: 0.001px;
	}
	.img-cache .btn.minus.hover {
		display: inline-block;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_minus_hover.png');
	}
	.img-cache .btn.plus.hover {
		display: inline-block;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_plus_hover.png');
	}


	/* form field */
	fieldset > .input {

	}
	fieldset .input {

	}
	fieldset .input > label {
		width: 29%;
	}
	fieldset .input.textarea > label, fieldset .input.shipping > label {
		vertical-align: top;
	}
	fieldset .input.shipping .shipping > label[for="shippingAtmtransfer"] {
		vertical-align: text-top;
		margin-left: 10px;
	}
	fieldset .input.shipping .shipping > label[for="shippingCashondelivery"] {
		margin-left: 10px;
	}
	
	fieldset .input > .price.total {
		width: 70%;
		border: 1px solid transparent;
	}
	fieldset .input > .name {
		width: 70%;
		border: 1px solid #333;
	}
	fieldset .input > .phone {
		width: 70%;
		border: 1px solid #333;
	}

	fieldset .input.textarea {

	}
	fieldset .input > .address {
		width: 70%;
		border: 1px solid #333;
		max-width: 70%;
		min-width: 70%;
		max-height: 12vh;
		min-height: 2.5rem;
	}

	fieldset .input > .memo {
		width: 70%;
		border: 1px solid #333;
	}
	fieldset .input > .discount_code {
		width: 70%;
		border: 1px solid #333;
	}
	fieldset .input.shipping > .shipping {
		display: inline-block;
		width: 70%;
		margin-left: -5px;
		margin-bottom: 3px;
		padding-left: 10px;
		border: 1px solid #333;
	}
	fieldset .submit > input[type="submit"] {
		float: right;
		margin-right: 0.8vw;
		margin-top: 0.8vh;
		border: 1px solid #333;
	}
}

/* mobile */
@media(max-width: 767px) {
	@keyframes info-flashing {
		from {
			background-color: red;
		}
		to {
			background-color: #333;
		}
	}
	.calc .info.flashing {
		animation-name: info-flashing;
		animation-duration: 2s;
	}
	body {
		background: #ccc;
	}
	.mobile-bottom-margin {
		display: block;
		width: 100%;
		height: 75vw;
	}
	.order.content {
		background: #ccc;
	}
	.order-product-category {
		width: auto;
		clear: both;
		float: none;
		margin: 0 0 2% 0;
		border: 1px solid white;
		color: white;
		padding: 1% 0;
	}
	.order-product-category > .text {
		padding-left: 2%;
 		font-size: large;
	}
	.calc {
		
	}
	.calc .info {
		background: #333;
		color: white;
		width: auto;
		display: inline-block;
		padding: 1%;
		margin: 2% 3% 3% 3%;
	}

	.calc > .action > .box > .text, .calc > .action > .box .total-box, .calc > .action > .box .unit {
		color: #333;
	}
	.calc > .action > .needed > .text, .calc > .action > .needed .total-needed, .calc > .action > .needed .unit {
		color: #cc2a3e;
	}
	.calc > .action > .needed.full > .text, .calc > .action > .needed.full .total-needed, .calc > .action > .needed.full .unit {
		color: green;
	}
	.calc > .action > .box, .calc > .action > .needed {
		display: inline-block;
		width: 21vw;
		margin-bottom: 3vw;
	}
	.calc > .action > .box .text, .calc > .action > .needed .text {
		text-align: right;
	}
	.calc > .action > .box > .text, .calc > .action > .needed > .text {
		width: 13vw;
	}
	.calc > .action > .box .total-box, .calc > .action > .needed .total-needed {
		display: inline-block;
		text-align: center;
		width: 13vw;
		height: 13vw;
		line-height: 13vw;
		font-size: 8vw;
	}
	.calc > .action > .box .unit, .calc > .action > .needed .unit {
		display: inline-block;
	}
	.calc > .action > .box {
		margin-left: 3vw;
	}
	.calc > .action > .box .total-box {
		border: 2px solid #333;
	}
	.calc > .action > .needed {
		width: 40vw;
		margin-left: 0;
	}
	.calc > .action > .needed .total-needed {
		border: 2px solid #cc2a3e;
		width: 32vw;
	}
	.calc > .action > .needed.full .total-needed {
		border-color: green;
	}
	.calc > .action > .action.next {
		display: inline-block;
		float: right;
		width: 30%;
		margin-right: 3%;
		text-align: right;
	}
	.calc > .action > .action.next > button.action.next {
		color: white;
		background: #333;
		border: 0;
		border-radius: 6px;
		padding: 8.5%;
		font-size: 5vw;
		width: 20vw;
		height: 20vw;
		line-height: 6vw;
	}
	.calc > .action > .action.next.full > button.action.next {
		background: green;
	}
	div.section {
		height: 90vh;
	}
	.section {
		margin: 0 auto;
		padding: 3% 3% 0 3%;
	}
	.section.order:nth-child(2) {
		padding-top: 2%;
	}
	.section > .divider {
		display: none;
	}
	.section > .order-product-block {
		margin: 0.5%;
		width: 49%;
		float: left;
		background: #b3b3b3;
	}
	.order-product-block > .detail {
		height: 71vw;
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: 2vw 2vh;
	}
	.detail > .detail-block {
		
	}
	.order-product-action {
		padding-top: 3vh;
	}
	.order-product-block > .detail .order-product-title {
		padding: 72% 0 0 0;
		font-size: x-large;
	}
	.order-product-action > .count-block {
		display: inline-block;
		width: 10vw;
		height: 10vw;
		background: #cc2a3c;
		text-align: center;
		color: white;
		border-radius: 4px;
		position: relative;
		top: -2.9vw;
		font-size: large;
		line-height: 10vw;
		
	}
	.order-product-action .unit-block {
		color: white;
		font-weight: lighter;
	}
	.order-product-action > .action-block {
		display: inline-block;
		position: relative;
		height: 20vw;
		width: 20vw;
		float: right;
		margin-right: 3vw;
	}
	.order-product-action .minus {
		width: 10vw;
		height: 10vw;
		border: 0;
		padding: 0;
		margin: 0;
		background: 0px 0px no-repeat url(/hfood/images/home/order/btn_minus_normal.png);
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		position: absolute;
		top: -2vh;
		left: -2vh;
	}
	.order-product-action .minus:hover {
		background: 0px 0px no-repeat url(/hfood/images/home/order/btn_minus_hover.png);
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-action .plus {
		width: 20vw;
		height: 20vw;
		border: 0;
		padding: 0;
		margin: 0;
		background: 0px 0px no-repeat url(/hfood/images/home/order/btn_plus_normal.png);
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-action .plus:hover {
		background: 0px 0px no-repeat url(/hfood/images/home/order/btn_plus_hover.png);
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
	.order-product-block > .detail .order-product-link {
		padding: 1vh 6% 0 2vw;
	}
	.order-product-block > .detail .order-product-link > .text {
		border: 1px solid #333;
		border-radius: 4px;
		padding: 1%;
	}
	.order-product-block > .detail .order-product-link > .text a.border-link {
		color: #333;
		font-size: smaller;
	}

	.img-cache {
		opacity: 0;
		width: 100%;
		height: 0;
		position: fixed;
		top: -500%;
	}
	.img-cache .w0 {
		width: 0.001px;
	}
	.img-cache .h0 {
		height: 0.001px;
	}
	.img-cache .btn.minus.hover {
		display: inline-block;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_minus_hover.png');
	}
	.img-cache .btn.plus.hover {
		display: inline-block;
		background: 0px 0px no-repeat url('/hfood/images/home/order/btn_plus_hover.png');
	}
	.order > .calc.top {
		display: none;
	}
	.order > .calc {
		position: fixed;
		bottom: 0;
		bottom: 8.3vw;
		background: #b3b3b3;
		width: 100%;
	}
	fieldset .input.textarea > label, fieldset .input.shipping > label {
		/*vertical-align: top;*/
	}
	fieldset .input.shipping .shipping > label[for="shippingAtmtransfer"] {
		vertical-align: text-top;
		/*margin-left: 10px;*/
	}
	fieldset .input.shipping .shipping > label[for="shippingCashondelivery"] {
		/*margin-left: 10px;*/
	}
	fieldset .input > .price.total {
		/*width: 100%;*/
		float: right;
		text-align: right;
		border: 1px solid transparent;
	}
	fieldset .input > .name {
		width: 100%;
		border: 1px solid #333;
	}
	fieldset .input > .phone {
		width: 100%;
		border: 1px solid #333;
	}
	fieldset .input > .address {
		width: 100%;
		border: 1px solid #333;
		max-width: 100%;
		min-width: 100%;
		max-height: 30vh;
		min-height: 2.5rem;
	}
	fieldset .input > .memo {
		width: 100%;
		border: 1px solid #333;
		width: 70%;
		float: right;
		margin-top: 5px;
	}
	fieldset .input.shipping > .shipping {
		width: 100%;
		border: 1px solid #333;
		padding-left: 1.2vw;
	}
	fieldset .input.shipping > .shipping input[type="radio"] {
		margin-right: 4px;
	}
	fieldset .input.shipping > .shipping > label[for="shippingAtmtransfer"] > span:nth-child(1) {
		margin-right: 4vw;
		vertical-align: top;
		display: inline-block;
		margin-top: -1vw;
	}
	fieldset .input.shipping > .shipping > label[for="shippingAtmtransfer"] > span.account {
		display: inline-block;
		font-size: 1.4rem;
		vertical-align: text-top;
	}
	fieldset .input > .discount_code {
		width: 100%;
		border: 1px solid #333;
		width: 70%;
		float: right;
		margin-top: 5px;
	}
	fieldset .input > label[for="memo"],
	fieldset .input > label[for="discount_code"] {
		margin-top: 7px;
		margin-bottom: 0;
	}
	fieldset .submit > input[type="submit"] {
		float: right;
		margin-right: 0.8vw;
		margin-top: 0.8vh;
		border: 1px solid #333;
	}
	fieldset > .input,
	fieldset > .submit {
		clear: both;
	}
	.clr {
		clear: both;
	}

	footer.footer {
		position: fixed;
		bottom: 0;
		z-index: 2;
	}

	/* modal */
	.modal-header {
		padding-top: 4px;
		padding-bottom: 3px;
	}
	.modal-body {
		padding-top: 4px;
		padding-bottom: 3px;
	}
	.modal-footer {
		padding-top: 4px;
		padding-bottom: 3px;
	}
}

@media(max-width: 767px) and (orientation:portrait) {
	.calc > .action > .box, .calc > .action > .needed {

	}
	.calc > .action > .box > .text, .calc > .action > .needed > .text {

	}
	.calc > .action > .box .total-box, .calc > .action > .needed .total-needed {

	}
	.calc > .action > .box .unit, .calc > .action > .needed .unit {

	}
	.calc > .action > .action.next {

	}
	.calc > .action > .action.next > button.action.next {
		
	}
}

@media(max-width: 767px) and (orientation:landscape) {
	.calc > .info {
		max-width: 56vw;
		margin: 5vh 0 0 3vh;
	}
	.calc > .action {
		display: inline-block;
		float: right;
		padding-top: 2vh;
		padding-right: 4vh;
	}
	.calc > .action > .box, .calc > .action > .needed {
		width: 21vh;
		margin-bottom: 3vh;
	}
	.calc > .action > .box > .text, .calc > .action > .needed > .text {
		width: 13vh;
	}
	.calc > .action > .box .total-box, .calc > .action > .needed .total-needed {
		width: 13vh;
		height: 13vh;
		line-height: 13vh;
		font-size: 8vh;
	}
	.calc > .action > .box .unit, .calc > .action > .needed .unit {

	}
	.calc > .action > .box {
		margin-left: 0;
	}
	.calc > .action > .needed {
		margin-left: 0;
	}
	
	.calc > .action > .action.next {
		margin-right: 0;
	}
	.calc > .action > .action.next > button.action.next {
		padding: 0;
		font-size: 5vh;
		width: 20vh;
		height: 20vh;
		line-height: 6vh;
	}
}


